@page
@model CrmWeb.Pages.Clients.AddUserModel
@{

}

<h1>Add user</h1>
<form method="post">
    <div class="form-group">
        <label for="username">username:</label>
        <input type="text" class="form-control" id="username" asp-for="Username" required><br><br>
    </div>

    <div class="form-group">
        <label for="password">password:</label>
        <input type="password" class="form-control" id="password" asp-for="Password" required><br><br>
    </div>

    <div class="form-group">
        <label for="name">name:</label>
        <input type="text" class="form-control" id="name" asp-for="Name" required><br><br>
    </div>

    <div class="form-group">
        <label for="email">email:</label>
        <input type="email" class="form-control" id="email" asp-for="Email" required><br><br>
    </div>

    <div class="form-group">
        <label for="address">address:</label>
        <input type="text" class="form-control" id="address" asp-for="Address" required><br><br>
    </div>

    <div class="form-group">
        <label for="city">city:</label>
        <input type="text" class="form-control" id="city" asp-for="City"><br><br>
    </div>

    <div class="form-group">
        <label for="plz">plz:</label>
        <input type="text" class="form-control" id="plz" asp-for="PLZ"><br><br>
    </div>

    <div class="form-group">
        <label for="phone">phone:</label>
        <input type="tel" id="phone" class="form-control" asp-for="Phone" required><br><br>
    </div>

    <button class="btn btn-sm btn-outline-success" type="submit">save</button>
</form>

