@page
@model CrmWeb.Pages.Clients.EditCategoryModel
@{
}

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector('#Category').addEventListener('input', updateButtonStatus);
        document.querySelector('#Type').addEventListener('input', updateButtonStatus);
    });

    function updateButtonStatus() {
        var btnCategory = document.querySelector('#Category').value;
        var Type = document.querySelector('#Type').value;

        if (btnCategory.trim() === "" || Type.trim() === "") {
            btnSave.disabled = true;
        } else {
            btnSave.disabled = false;
        }
    }
</script>

<h4>Edit Catgory</h4>
<form method="post">
    <input type="hidden" asp-for="Id" />
    <div class="mt-2">
        <label asp-for="Category">Category</label>
        <input asp-for="Category" id="Category" class="form-control" />
    </div>
    <div class="mt-2">
        <label asp-for="Type">Sizes</label>
        <input type="number" min="1" max="5" asp-for="Type" id="Type" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success btn-sm mt-4" id="btnSave">Save</button>
</form>