@page
@model CrmWeb.Pages.Clients.EditStaffsModel
@{
}

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector('#FirstName').addEventListener('input', updateButtonStatus);
        document.querySelector('#btnDepartment').addEventListener('input', updateButtonStatus);
    });

    function updateButtonStatus() {
        var btnName = document.querySelector('#FirstName').value;
        var btnDepartment = document.querySelector('#btnDepartment').value;
        var btnSave = document.querySelector('#btnSave');

        if (btnName.trim() === "" || btnDepartment.trim() === "") {
            btnSave.disabled = true;
        } else {
            btnSave.disabled = false;
        }
    }
</script>

<h1>Edit Staff</h1>
<form method="post">
    <input type="hidden" asp-for="Id" />
    <div class="mt-2">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" id="FirstName" class="form-control" />
    </div>
    <div class="mt-2">
        <label asp-for="Department"></label>
        <input asp-for="Department" id="btnDepartment" class="form-control" />
    </div>
    <div class="mt-2">
        <label asp-for="Phone"></label>
        <input asp-for="Phone" id="btnPhone" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success btn-sm mt-4" id="btnSave">Save</button>
</form>