@page
@model CrmWeb.Pages.Clients.EditCustomerModel
@{
}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector('#CustomerInputName').addEventListener('input', updateButtonStatus);
        document.querySelector('#CustomerInputPhone').addEventListener('input', updateButtonStatus);
        document.querySelector('#CustomerInputAddress').addEventListener('input', updateButtonStatus);
    });

    function updateButtonStatus() {
        var btnName = document.querySelector('#CustomerInputName').value;
        var btnPhone = document.querySelector('#CustomerInputPhone').value;
        var btnAddress = document.querySelector('#CustomerInputAddress').value;
        var btnSave = document.querySelector('#btnSave');

        if (btnName.trim() === "" || btnPhone.trim() === "" || btnAddress.trim() === "") {
            btnSave.disabled = true;
        } else {
            btnSave.disabled = false;
        }
    }
</script>

@if (!string.IsNullOrEmpty(Model.errorMessage))
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (!string.IsNullOrEmpty(Model.successMessage))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@Model.successMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h4 class="modal-title">Edit customer</h4>
<form method="post">
    <input type="hidden" asp-for="CustomerId" />
    <div class="form-group">
        <div class="mt-2">
            <label asp-for="Name"></label>
            <input asp-for="Name" id="CustomerInputName" class="form-control" />
        </div>
        <div class="mt-2">
            <label asp-for="Phone"></label>
            <input type="number" min="0" asp-for="Phone" id="CustomerInputPhone" class="form-control" placeholder="Phone" />
        </div>
        <div class="mt-2">
            <label asp-for="Address"></label>
            <input asp-for="Address" id="CustomerInputAddress" class="form-control" />
        </div>
    </div>

    <button type="submit" class="btn btn-success btn-sm mt-2" id="btnSave">Save</button>
</form>