body {
}

.ui-autocomplete {
    overflow-y: auto;
    overflow-x: hidden;
    margin:0;
}

* html .ui-autocomplete {
    height: 100px;
}

.col-3 {
    display: inline-block;
    width: 25%;
    padding: 10px;
}